
  .attribution { font-size: 11px; text-align: center; position:absolute;
    top:90%;
    left:50%;
    transform:translate(-50%, -50%);}
  .attribution a { color: hsl(228, 45%, 44%); }
  


  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Overpass:wght@400;700&display=swap');

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }


  body{
    font-family: Overpass;
    font-size:15px;
    position: relative;
    background-color:hsl(216, 12%, 8%);
  }

  .container{
    background-color:hsl(213, 19%, 18%);
    width: 350px;
    height:350px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 20px;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }

  .star-circle{
    background-color: hsl(216, 12%, 54%);
    border-radius: 50%;
    width:40px;
    height:40px;    
    display:flex;
    justify-content: center;
  }

  .star-circle > img{
    align-self: center;
  }

  h1{
    font-weight: 700;
    color:hsl(0, 0%, 100%);
  }

  p{
    font-weight:400;
    color:hsl(217, 12%, 63%);
  }

  .rate-container{
    margin-bottom:1rem;
    display:flex; 
    justify-content:space-between;
  }

  .rate-container > button > input{
    display:none;
  }

  .form-button{
    border-radius: 50%;
    width:50px;
    height:50px; 
    border:none;
    cursor: pointer;
    color: hsl(217, 12%, 63%);
    background-color:hsl(216, 12%, 8%);
  }

  input[type="radio"]:checked + label{
    color: hsl(0, 0%, 100%);
    background-color:hsl(25, 97%, 53%);
  }

  .form-button label{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    cursor: pointer;
  }

  .form-button:hover{
    background-color:hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
  }


  .submit-btn{
    width:100%;
    height:50px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    background-color:hsl(25, 97%, 53%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }

  .submit-btn:hover{
    background-color:hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
  }

  .center{
    text-align: center;
  }

  .special{
    background-color: hsl(216, 12%, 54%);
    color: hsl(25, 97%, 53%);
    border-radius: 10px;
    width: 60%;
    align-self: center;
  }
